body{
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
.fancy-color{
    color: rgb(175, 18, 6);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}