body{
    font-family: 'Redressed', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.fancy-color{
    color: rgb(175, 18, 6);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 120%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(175, 18, 6 ), rgba(245, 25, 9, 0.925));
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 6px;
    font-weight: bold;
}
.banner{
    background-image: url(Style/banner.png);
    background-repeat: no-repeat;
}