body{
    font-family: 'Redressed', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.fancy-color{
    color: rgb(175, 18, 6);
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(175, 18, 6 ), rgba(245, 25, 9, 0.925));
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 6px;
    font-weight: bold;
}
.top-banner{
    background-image: url(Style/banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Style/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.experience-item{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 5px;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url(Style/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#web-dev{
    border-left: 6px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
#ame-dev{
    border-left: 6px solid ;
    border-image: linear-gradient(brown purple);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}